@charset "utf-8";

*{font-size:1rem;}
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, dialog, figure, footer, header,hgroup, menu, nav, section,time,mark, audio, video,input,button{margin:0;padding:0;border:none;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article, aside, dialog, figure, footer, header,hgroup, nav, section {display:block;}
ul,ol,li{list-style:none;}
i,em{font-style:normal;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
table {border-collapse:collapse; border-spacing:0;}
input, select {vertical-align:middle;}
a,a:hover{text-decoration:none;color: #333}
a:hover,a:visited,a:active{text-decoration:none;}
em{font-style:normal;}
body{background:#fff;color: #333}
input[type="text"]{-webkit-appearance:none;background:none;}
input[type="submit"]{-webkit-appearance:none;}
input[type="checkbox"]{border:1px solid #ccc;border-radius:0;}
input[type="password"]{-webkit-appearance:none;}
input[type="tel"]{-webkit-appearance:none;background:none;}
input[type="tel"]{-webkit-appearance:none;background:none;}
body{font-family:微软雅黑,Helvetica,Arial,sans-serif;}
td,th{vertical-align:middle; }
.clear{clear:both;}

/*样式重置*/

@media screen and (min-width:240px){html,body{font-size:10px;}}
@media screen and (min-width:320px){html,body{font-size: 12px;}}
@media screen and (min-width: 480px){html,body{font-size: 14px;}}
@media screen and (min-width: 560px){html,body{font-size: 16px;}}
@media screen and (min-width: 640px){html,body{font-size: 18px;}}
@media screen and (min-width: 720px){html,body{font-size: 20px;}}
@media screen and (min-width: 800px){html,body{font-size: 22px;}}
@media screen and (min-width: 1024px){html,body{font-size: 24px;}}
