.x-panel{background:#f5f5f5;overflow: hidden;}
.x-panel-top .x-titlebar{background: #fff;border-bottom: 1px solid #e9e9e9;margin-bottom: 12px}
.x-titlebar .x-titlebar-left a{padding: 6px 4px;}
.x-titlebar .x-titlebar-title label{color: #333;font-weight: normal;background: url(./images/arrow3.png) no-repeat right center;padding-right: 12px;background-size: 10px;display: inline-block;font-size: 1.32rem;cursor: pointer;}
.x-titlebar .x-titlebar-right span{color: #21b589;font-size: 1.2rem;padding: 0 2px;}

/*标题栏*/

.x-panel .x-panel-content{padding:10px 3%;background: #fff;height: auto;position:static;margin-top: 60px;border-bottom: 1px solid #e9e9e9;}
.panel_txt .txtTitle input{border:none;border-bottom:1px solid #e9e9e9;padding: 10px 0;font-size: 1.2rem;line-height: 1.6rem;height: auto;margin-bottom: 10px;border-radius: 0;}
.panel_txt .txt textarea{border:none;padding: 10px 0;font-size: 1.1rem;line-height: 1.5rem;height: auto;min-height: 160px;margin-bottom: 20px;color: #959595;border-radius: 0;}
.panel_txt .bottom_txt a{display: inline;width: 50px;margin-right: 10px}
.panel_txt .bottom_txt a img{width: 50px}

/*发帖内容*/

.list_staff{position: absolute;top: 49px;left: 0;padding: 10px 3% 30px;width: 100%;background: #fff;overflow: hidden;display: none;z-index: 999}
.list_staff li{margin: 0 1% 10px;float: left;text-align: center;line-height: 1.4rem;border:1px solid #21b589;border-radius: 5px;color: #21b589;padding:8px 10px}
.list_staff li label{font-weight: normal;font-size: 1.1rem}
.list_staff li:hover{background: #21b589;color: #fff}
#blackbg{height: 100%;background: #000;position: fixed;top: 49px;left: 0;width: 100%;z-index:998;opacity: 0.6;display: none}

/*弹窗*/





